body{
background-color: rgb(240, 236, 236);
}

.container{
    width: 1170px;
    margin: auto;
    background-color: orange;
}

.certifications{
    overflow: hidden;
    padding-top: 8px;
    padding-bottom: 8px;
}
.feat{
    
    float: left;
    width: 33.33333%;
    height: 300px;
    padding-top: 34px;
    padding-bottom: 38px;
}
.cert_image{
    width: 90%;
    transition: transform .2s;
    border-radius: 10px;
    border: 1px solid black;

}

.cert_image:hover{
        transform:scale(1.25);
    }

.feat h2{
    text-transform: capitalize;
}